DATABASE_URL=file:./db/custom.db
AVALAI_API_KEY=your_key
AVALAI_BASE_URL=your_url
AVALAI_TEXT_MODEL=your_model
AVALAI_VISION_MODEL=your_model
ZARINPAL_MERCHANT_ID=your_merchant_id
CRON_SECRET=your_secret
SMSIR_API_KEY=your_key
SMSIR_TEMPLATE_ID=your_template
AVALAI_IMAGE_API_KEY=your_key
AVALAI_IMAGE_MODEL=your_model
VAPID_PUBLIC_KEY=your_key
VAPID_PRIVATE_KEY=your_key
NEXT_PUBLIC_VAPID_PUBLIC_KEY=your_key
